footer {
    background-color: #000;
    color: #ccc;
    padding: 40px 0 30px 0;
    font-family: 'League Spartan', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}



.logofoot {
    margin-left: 0;
    width: 100px;
    text-align: left;
    position: static;
    display: flex;
    align-items: center;
}

.logofoot img {
    width: 100px;
}

.footer-links {
    flex: 2;
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footer-links ul li {
    display: inline;
    margin: 0 20px;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}


.social-icons {
    display: flex;
    gap: 15px; 
}

.social-icon {
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
}

.social-icon:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icons {
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer-links {
        margin-bottom: 20px;
    }

    .footer-links ul li {
        display: block;
        margin: 10px 0;
    }

    .logofoot {
        margin-top: 20px;
        text-align: center;
        position: static;
    }

    .footer-links {
        order: 0;
    }

    .social-icons {
        order: 0;
    }
}
