/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #000000;
    color: #fff;
}

/* Photo de profil */
.profile-header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: white;
}

.profile-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

.sidebar .logo img {
    max-width: 120px;
}

.sidebar ul {
    margin-top: -60px;
    list-style: none;
    padding-left: 0px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.sidebar ul li a i {
    width: 30px;
    margin-right: 20px;
    text-align: center;
}

.sidebar ul li a.active {
    background-color: #333;
    color: #ffffff;
}

.sidebar ul li a:hover {
    background-color: #333;
    color: #ffffff;
}

/* Section des paramètres */
.settings-section {
    margin-top: 160px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.settings-section a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: color 0.3s ease;
    border-radius: 8px;
}

.settings-section a i {
    margin-right: 15px;
}

.settings-section a:hover {
    color: #ffffff;
    background-color: #333;
}

.settings-section .logout {
    color: #C1FF72;
    margin-top: 20px;
}

.settings-section .logout:hover {
    color: #C1FF72;
}
