* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #000000;
    color: #fff;
    margin-top: 30px;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.sidebar .logo img {
    max-width: 120px;
}

.sidebar ul {
    margin-top: -40px;
    list-style: none;
    padding-left: 0px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #333;
    color: #ffffff;
}

.sidebar ul li a i {
    width: 30px;
    margin-right: 20px;
    text-align: center;
}

.settings-section {
    margin-top: 90px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.settings-section a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: color 0.3s ease;
    border-radius: 8px;
}

.settings-section a i {
    margin-right: 15px;
}

.settings-section a:hover {
    color: #ffffff;
    background-color: #333;
}

.settings-section .logout {
    color: #C1FF72;
    margin-top: 20px;
}

.settings-section .logout:hover {
    color: #C1FF72;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fixe la partie haute */
    top: 0; /* Toujours en haut */
    left: 220px; /* Décalage correspondant à la largeur de la sidebar */
    right: 0; /* Étend jusqu'à la droite */
    z-index: 1000; /* S'assure qu'il est au-dessus des autres éléments */
    background-color: #000; /* Fond noir pour uniformité */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
}

.report-header h1 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.report-header p {
    font-size: 14px;
    color: #C1FF72;
    margin-top: 5px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

.profile-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-header a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
