body {
    font-family: 'League Spartan', sans-serif;
    background-color: black;
    color: #ccc;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

#header-logo {
    margin-top: 50px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cta-section {
    text-align: center;
    margin: 40px 0;
}

.cta-section h1 {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #3b3b3b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-top: 20px;
}

.cta-section p {
    color: #aaa;
    font-size: 18px;
    margin-bottom: 30px;
}

.changelog-entries {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.changelog-entries h2 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #C1FF72;
}

.entry {
    background-color: #111;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.entry h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
}

.entry ul {
    color: #aaa;
    margin-left: 20px;
}

.entry ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .cta-section h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .changelog-entries h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .entry h3 {
        font-size: 24px;
    }

    .entry ul li {
        font-size: 14px;
    }
}
