body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    background-color: rgba(196, 196, 196, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    max-width: 400px;
    width: 100%;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #FFFF;
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 30px 0;
}

section.eleForm {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FFFF;
    font-size: 1.15em;
}

input {
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 2px transparent; 
}

input:hover {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    box-shadow: 0 0 0 2px #C1FF72, 0 0 8px 2px rgba(193, 255, 114, 0.5); 
}

input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    box-shadow: 0 0 0 2px #C1FF72, 0 0 8px 2px rgba(193, 255, 114, 0.5); 
}

button {
    background-color: #C1FF72;
    color: #000000;
    padding: 14px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0d860;
}

.error-message {
    color: #FF0000;
    text-align: center;
    font-size: 1.1em;
}


.footer-text {
    font-size: 1em;
    color: #FFFF;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text a {
    color: #FFFFFF; 
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    font-size: 1em;
}

.footer-text a:hover {
    text-decoration: underline; 
}

.forgot-password {
    font-size: 1em;
    color: #C1FF72; 
    text-decoration: none;
    transition: text-decoration 0.3s ease; 
    display: inline-block;
}

.forgot-password:hover {
    text-decoration: underline; 
    color: #C1FF72; 
}
.forgot-password-wrapper {
    text-align: center; 
    margin-top: 5px;  
}

/* Media queries*/
@media (max-width: 768px) {
    h2 {
        font-size: 2.5em;
    }

    label {
        font-size: 1.1em;
    }

    input {
        font-size: 1.2em;
        padding: 12px;
    }

    button {
        font-size: 1.3em;
        padding: 14px;
    }

    .footer-text {
        font-size: 0.9em;
    }

    .forgot-password {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    form {
        padding: 20px;
    }

    h2 {
        font-size: 2.2em;
    }

    label {
        font-size: 1em;
    }

    input {
        font-size: 1em;
        padding: 10px;
    }

    button {
        font-size: 1.2em;
        padding: 12px;
    }

    .footer-text {
        font-size: 0.8em;
    }

    .forgot-password {
        font-size: 0.8em;
    }
}
