
.modal-open {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.gym-map,
#reservations,
.dashboard-content > h2 {
    transition: filter 0.3s ease-out;
}

.dashboard-content {
    transition: filter 0.3s ease-out;
}



h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.gym-map {
    position: relative;
    width: 80%;
    margin: 20px auto;
    border: 5px solid #000000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #000000;
}

.gym-image {
    width: 100%;
    display: block;
    border-radius: 10px;
    border: 5px solid #000000;
}

.room {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.room:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.8);
}

/* --- Room Positions --- */
.room.tennis {
    top: 16%;
    left: 9%;
    width: 15%;
    height: 10%;
}

.room.foot {
    top: 16%;
    left: 43%;
    width: 15%;
    height: 10%;
}

.room.basketball {
    top: 16%;
    left: 77%;
    width: 15%;
    height: 10%;
}

.room.rpm {
    top: 62%;
    left: 9%;
    width: 15%;
    height: 10%;
}

.room.musculation {
    top: 62%;
    left: 38.5%;
    width: 15%;
    height: 10%;
}

#reservations h3 {
    color: #ffffff !important; /* Blanc */
}


.room.boxe {
    top: 62%;
    left: 72%;
    width: 15%;
    height: 10%;
}

/* --- Buttons --- */
button {
    background-color: #C1FF72;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #A0E65E;
}

#reservations {
    text-align: center;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 518px;
}

#reservations h3 {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #4e4949;
}

#reservation-list li {
    margin: 10px auto;
    background-color: #4e4949;
     padding: 10px;
    border-radius: 5px;
        display: flex;
       flex-direction: column;
      font-size: 0.9em;
    color: #fff;
    max-width: 800px;
         width: 90%;
    word-break: break-word;

}

#reservation-list li .reservation-details {
    margin-bottom: 5px;
}

#reservation-list li .button-container {
      display: flex;
  white-space: nowrap;
   justify-content: center;
}

#reservation-list li button {
        margin: 3px;

 }

#reservation-list li .delete-button {
    background-color: #ff1f1f;
    color: #FFFFFF;

}

#reservation-list li .delete-button:hover {
     background-color: #ff4c4c;
}
    #reservation-list li .edit-button {
          background-color: #330be4;
    color: #FFFFFF;
  }

    #reservation-list li .edit-button:hover {
      background-color: #3962bf;
    }

    #reservation-container,
    #edit-reservation-container {
       display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #0b0b0b; /* Noir encore plus foncé */
        padding: 25px 20px 20px;/*ajustemant avec padings haut et bas*/
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        border: 2px solid #181818; /* Bordure plus subtile */
        max-width: 400px;
        width: 100%;
        z-index: 1001;

    }


    #reservation-title, #edit-reservation-container h2 {
        font-size: 1.8em;
        font-weight: bold;
        background: linear-gradient(to right, #ffffff, #666666);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    

#reservation-container h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #1d1c1c96;
    font-size: 1.5em;
}

label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #ffffff96;
}


#reservation-container input[readonly], 
#edit-reservation-container input[readonly] {
    background-color: #292929 !important; /* Plus foncé */
    color: #999 !important; /* Texte plus clair */
    border: 1px solid #444;
}


#reservation-container label, 
#edit-reservation-container label {
    margin-bottom: 12px;
}

input, select {
    margin-bottom: 20px; /* Plus d'espacement */
}

#available-hours button.booked {
    background-color: #1a1a1a !important; /* Fond encore plus foncé */
    color: #777 !important; /* Texte plus grisé */
    cursor: not-allowed;
}

#edit-available-hours button.booked {
    background-color: #1a1a1a !important; /* Fond encore plus foncé */
    color: #777 !important; /* Texte plus grisé */
    cursor: not-allowed;
}


#reserve-button, #update-button, #delete-reservation {
    padding: 12px 20px;
    font-size: 1.1em;
}

.tab-button {
    padding: 10px 15px;
}


input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #424242;
    color: #ffffff96;
    /* Light text */
    font-size: 1em;
     width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    border-color: #C1FF72;
    background-color: #2a2a2a;
}

#reservation-form,
#edit-reservation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* --- Edit and Delete Buttons --- */
.delete-button {
     margin: 0 5px;
      color: #000000;
      /* Black text color for contrast */
      transition: background-color 0.2s ease;
}
.edit-button {
  margin: 0 5px;
      color: #000000;
    transition: background-color 0.2s ease;
}

/* --- Toast Container --- */
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #cacaca;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

/* --- Available Hours Buttons --- */
#available-hours,
#edit-available-hours {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    justify-content: center;
}

#available-hours button,
#edit-available-hours button {
    background-color: #ece4e4;
    color: #252525;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.9em;
}

#available-hours button:hover:not(.selected):not(.booked),
#edit-available-hours button:hover:not(.selected):not(.booked) {
    background-color: #444444;
}

#available-hours button.selected,
#edit-available-hours button.selected {
    background-color: #C1FF72;
    color: #000000;
}

#available-hours button.booked,
#edit-available-hours button.booked {
     background-color: #4f4f4f;
    color: #252525;
   cursor: not-allowed;
}
#available-hours button.past,
#edit-available-hours button.past{
   background-color: #4f4f4f;
    color: #252525;
     cursor: not-allowed;
}

.close-button {
    color: #ff1f1f !important; /* Rouge vif */
}

.close-button:hover {
    color: #ff4c4c !important; /* Rouge plus clair au survol */
}


/* Tabs */
.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #C1FF72;
}

.tab-button {
    background-color: #4d4949;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 0.9em;
     transition: background-color 0.3s ease;
}

.tab-button:hover {
     background-color: #5a5454;
}

.tab-button.active {
     color: #000;
}
.tab-content{
     padding: 10px;
    }


.close-button {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 1.2em;
    background: none;  /* retire background de base */
    border: none;  /* retire bordures base */
    cursor: pointer;
    color: #1d1c1c96;
    transition: color 0.3s ease-in-out;  /*  adoucir le selection user  */
    z-index:1002;
   
}
    .close-button:hover{
            color: #000; /* Couleur noir pour le X , a la selection */

}
