@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'League Spartan', sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #C1FF72;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-left: 220px;
}

.navbar .logo {
    margin-right: auto;
}

.navbar .profile-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 20px;
}

.navbar .profile-name {
    padding: 0 10px;
    font-size: 16px;
    color: #ffffff;
    background: none;
    border: none;
}

.navbar .profile-icon {
    position: relative;
    margin-right: 7px;
}

.navbar .profile-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar .profile-icon img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgba(193, 255, 114, 0.5);
}

.navbar .dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.navbar .dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #444;
}

.navbar .dropdown a:hover {
    background-color: #c2ff72;
    color: black;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}



.sidebar a.selected {
    background-color: #185a3f; /* or your desired color */
    font-weight: bold;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

.sidebar .logo img {
    max-width: 120px;
}

.sidebar ul {
    margin-top: -60px;
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

.sidebar ul li a i {
    width: 30px;
    margin-right: 20px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #333;
    color: #ffffff;
}

.sidebar .management:hover {
    background-color: #333;
    color: #ffffff;
}

.settings-section {
    margin-top: 160px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}


.settings-section a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: color 0.3s ease;
    border-radius: 8px;
}

.settings-section a i {
    margin-right: 20px;    
}


.settings-section .logout {
    color: #C1FF72;
    margin-top: 20px;
}

.settings-section .logout:hover {
    color: #C1FF72;
}

.dashboard-content {
    padding: 20px;
    margin-left: 240px;
}

h1 {
    font-size: 36px;
    background: linear-gradient(90deg, #535553, #fff);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.coach-panel, .admin-panel, .card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(9, 9, 9, 0.8));
    width: 45%;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    height: auto; /* La hauteur s'adapte automatiquement au contenu */
}

.coach-panel h2, .admin-panel h2 {
    font-size: 22px;
    color: #C1FF72;
    margin-bottom: 8px;
}

.card-row {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 15px;
}

.small-card {
    min-height: 130px;
    width: 735px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small-card canvas {
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
    color: #C1FF72;
    margin-bottom: 8px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #C1FF72;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #a1e55e;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #C1FF72;
    color: #000;
}

.alert {
    padding: 15px;
    background-color: #a1e55e;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

.rapport-activite,
.prochaines-reservations {
    font-size: 22px;
    color: #C1FF72;
    margin-bottom: 8px;
}

.card-value {
    padding-left: 10px;
    padding-top: 8px;
    font-size: 14px;
    color: #ffffff;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 5px 0;
    overflow: hidden;
}

.card ul li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card ul li button {
    background-color: #C1FF72;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card ul li button:hover {
    background-color: #a1e55e;
    outline: none;
}

.subscription-status {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.subscribe-button {
    background-color: #C1FF72;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.subscribe-button:hover {
    background-color: #a1e55e;
}

.active-subscription {
    color: #C1FF72;
    margin-right: 10px;
    font-size: 16px;
}

#registrationsChart, #topActivitiesChart {
    margin-top: 15px;
    margin-bottom: 30px;
}

.emoji-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(193, 255, 114, 0.5);
    padding: 5px;
}

.card h3 .emoji-image,
.card-title .emoji-image {
    background-color: rgba(135, 206, 250, 0.9);
    box-shadow: 0 0 10px rgba(135, 206, 250, 0.5);
}

.card-row .small-card .emoji-image {
    background-color: rgba(255, 127, 127, 0.9);
    box-shadow: 0 0 10px rgba(255, 127, 127, 0.5);
}

.coach-panel h2 .emoji-image,
.admin-panel h2 .emoji-image {
    background-color: rgba(255, 239, 168, 0.9);
    box-shadow: 0 0 10px rgba(255, 239, 168, 0.5);
}

.coach-panel {
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(9, 9, 9, 0.8));
}

.admin-panel {
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(9, 9, 9, 0.8));
}

.card {
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(9, 9, 9, 0.8));
}

.small-card {
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(9, 9, 9, 0.8));
}